<div>
<% @things.each do |thing| %>
    <h1><%= thing.name %></h1>
    <p><%= raw thing.description %></p>
    <span><%= ajax_link_to 'Read More', thing %></span>
    <span><%= ajax_link_to "View Thing", controller: thing.path %></span>
    <% if admin? %>
      <span><%= ajax_link_to 'Edit', edit_thing_path(thing) %></span>
      <span><%= ajax_link_to 'Destroy', thing, confirm: 'Are you sure?', method: :delete %></span>
    <% end %>
<% end %>

<% if admin? %>
  <p>
    <%= ajax_link_to 'New Thing', new_thing_path %>
  </p>
<% end %>
</div>
