<% @users.each do |user| %>
<div class="user">
    <h1 class="username"><%= user.name %></h1>
    <%= ajax_link_to 'Show', user %>
    <% if admin? %>
      <%= ajax_link_to 'Edit', edit_user_path(user) %>
      <%= ajax_link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
    <% end %>
</div>
<% end %>

<br />

<%= ajax_link_to 'New User', new_user_path %>
