<div>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= ajax_link_to 'Show', user %></td>
    <% if admin? %>
      <td><%= ajax_link_to 'Edit', edit_user_path(user) %></td>
      <td><%= ajax_link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</div>

<br />

<%= ajax_link_to 'New User', new_user_path %>
