<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>


<span class="actions">
  <%= ajax_link_to 'Edit', edit_user_path(@user) %>
  <%= ajax_link_to 'Back', users_path %>
</span>
