<div id="nav_login">
<% if logged_in %>
  Logged in as <%= username %>. <%= link_to "Log out", logout_url, remote: true %>
<% else %>
  <%= form_tag login_url, remote: true do %>
    <div>
      <label for="name">Username:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>

    <div>
      <label for="password">Password:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div>
      <%= hidden_field_tag :redirect_on_login, request.url %>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
<% end %>
</div>
