<div class="bill">
<span class="bill-number"><%= @bill["number"] %></span>
<span class="bill-title"><%= @bill["title"] %></span>
<span class="bill-date"><%= @bill["date"] %></span>
<span class="bill-sponsor"><%= @bill["sponsor"] %></span>
<span class="bill-last-major-action-date"><%= @bill["last_major_action_date"] %></span>
<span class="bill-last-major-action"><%= @bill["last_major_action"] %></span>
</div>
