<% @posts.each do |post| %>
  <div class="post">
    <h1 class="title"><%= post.title %></h1>
    <span class="post-date"><%= post.created_at.strftime "%b %d, %Y" %></span>
    <div class="post-content"><%= raw post.content %></div>
    <span class="actions">
      <%= ajax_link_to 'View Post', post %>
      <% if admin? %>
        <%= ajax_link_to 'Edit', edit_post_path(post) %>
        <%= ajax_link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </span>
  </div>
<% end %>

<br />
<span class="actions">
<% if admin? %>
<%= ajax_link_to 'New Post', new_post_path %>
<% end %>
</span>
