<% @posts.each do |post| %>
  <div class="post">
    <h3 class="posttitle"><%= post.title %></h3>
    <span class="post-date"><%= post.created_at.strftime "%b %d, %Y" %></span>
    <div class="postcontent"><%= raw post.content %></div>
    <%= ajax_link_to 'View Post', post %>
    <% if admin? %>
      <%= ajax_link_to 'Edit', edit_post_path(post) %>
      <%= ajax_link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
<% end %>

<br />
<% if admin? %>
<%= ajax_link_to 'New Post', new_post_path %>
<% end %>
