<% @posts.each do |post| %>
  <div class="post">
    <h1 class="post-title"><%= post.title %></h1>
    <span class="post-date"><%= post.created_at.strftime "%b %d, %Y" %></span>
    <div class="post-content"><%= raw post.content %></div>
    <%= ajax_link_to 'View Post', post %>
    <% if admin? %>
      <%= ajax_link_to 'Edit', edit_post_path(post) %>
      <%= ajax_link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
<% end %>

<br />
<% if admin? %>
<%= ajax_link_to 'New Post', new_post_path %>
<% end %>
