<!DOCTYPE html>
<html>
<head>
  <title>Pyropus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/codemirror2/lib/codemirror.js" %>
  <%= javascript_include_tag "/codemirror2/mode/javascript/javascript.js" %>
  <%= stylesheet_link_tag    "/codemirror2/lib/codemirror.css" %>
  <%= csrf_meta_tags %>
  <%= google_fonts_link_tag(droid_sans: [400, 700],
                            syncopate: [700]) %>
  <style type='pyropus/embeddedcss'>
  input#username-text, input#password-text {
    display: none;
  }
  </style>
  <!--[if IE]>
  <%= stylesheet_link_tag "ie_hacks" %>
  <![endif]-->

</head>
<body>
<div id="wrapper">
<div id="messages">
  <div id="notice"><%= notice %></div>
  <div id="alert"><%= alert %></div>
</div>
<%= render partial: 'shared/header' %>

<div class="content" id="content">
<h1 id="page_title"><%= page_title %></h1>
<% if @toc %>
  <div id="toc">
    <div id="toc-header">Contents</div>
    <%= raw @toc %>
  </div>
<% end %>
<%= yield %>
</div>

<div class="clearfix">&nbsp;</div>
<%= render partial: 'shared/footer' %>
</div>
</body>
</html>
