<!DOCTYPE html>
<html>
<head>
  <title>Pyropus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_fonts_link_tag(droid_sans: [400, 700],
                            orbitron: [400, 900],
                            cabin: [400],
                            arimo: [400],
                            karla: [400],
                            antic_slab: [400],
                            josefin_slab: [600],
                            cutive: [400],
                            graduate: [400],
                            nova_mono: [400],
                            syncopate: [700]) %>

</head>
<body>
<div id="wrapper">
<div id="notice"><%= notice %></div>
<div id="alert"><%= alert %></div>
<%= render partial: 'shared/header' %>

<div id="content">
<%= yield %>
</div>

<%= render partial: 'shared/footer' %>
</div>
</body>
</html>
